*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    position: absolute;
    top: 150px;
    font-size:85px;
    transform: translateX(-200%);
    transition: transform .8s ease-in;
    color: aliceblue;
}
.show{
    
    transform: translateX(15%);
    transition: transform 2s ease-in;
    
}
.container{
    
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

button:is(:hover){
    background-color: rgb(58, 54, 54);
    color: aliceblue;
    transition: all .2s linear;
}

